:host {
  display: block;
}
.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
}
.form {
  padding: 0rem 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &-station-name {
    margin: 0;
    padding: 2rem 0;
  }
  &-autocomplete {
    position: relative;
    width: 100%;
    &-input {
      width: 50%;
      padding: 0.5rem;
      font-size: 1.6rem;
      border: 0.15rem solid hsl(212, 1%, 50%);
      border-radius: 0.5rem;
      &:focus {
        outline: none;
      }
    }
  }
  &-action {
    align-self: flex-start;
    padding: 0.7rem;
    &-btn {
      border: 0.1rem solid hsl(213, 100%, 50%);
      border-radius: 0.3rem;
      background-color: hsl(213, 100%, 50%);
      font-size: 1.6rem;
      padding: 0.5rem;
      color: white;
      cursor: pointer;
    }
  }
  &-suggestions {
    width: 50%;
    left: 20rem;
    padding-left: 0.5rem;
    border: 0.1rem solid hsl(212, 1%, 50%);
    border-top: none;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    &-item {
      white-space: normal;
      list-style: none;
      text-align: left;
      padding: 0.5rem 0;
      font-size: 1.5rem;
      &:hover {
        color: hsl(213, 100%, 50%);
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
